# Scrape Impacespace Impace Investment data
 - 3 hours main time focus on parsing the data with html parser, problem arise when use package parser pd.read_html and beautifulsoup
 - manual parser works with unknown reason

In [183]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from html_table_extractor.extractor import Extractor
import numpy as np

## read_html from pandas

In [2]:
# forbidden website
pd.read_html('https://impactspace.com/investments')

HTTPError: HTTP Error 403: Forbidden

In [90]:
url = 'https://impactspace.com/investments'

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

df_list = pd.read_html(r.text
                        , converters={'Size':object,'Date':object} #prevent pandas to convert this column to numeric
                        # , encoding='utf-8'
                        )

TypeError: object() takes no arguments

In [87]:
df_list[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4936 entries, 0 to 4935
Data columns (total 7 columns):
Company                   4763 non-null object
Financial Organization    4586 non-null object
Date                      2391 non-null object
Stage                     1823 non-null object
Size                      0 non-null object
Vehicle                   1152 non-null object
Deal Type                 1752 non-null object
dtypes: object(7)
memory usage: 270.1+ KB

In [88]:
df_list[0].head()

      Company Financial Organization Date       Stage Size Vehicle Deal Type
0  Dvara KGFS   LeapFrog Investments  NaN  Series C +  NaN  Equity     Joint
1  Dvara KGFS            Dvara Trust  NaN  Series C +  NaN  Equity     Joint
2  Dvara KGFS                 ACCION  NaN  Series C +  NaN  Equity     Joint
3  Dvara KGFS      Stakeboat Capital  NaN  Series C +  NaN  Equity     Joint
4       Mfine         SBI investment  NaN    Series B  NaN  Equity       NaN

In [91]:
df_list[0].Date.unique()

array([nan, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010,
       2009, 2008, 2007, 2006, 2005, 2004, 2003, 1982, 0], dtype=object)

In [22]:
# normal html from request
r.text[10000:20000]

'eadersearch">\r\n\t\t<span style="display:none; float:top; top: 228px !important; width: 265px; left: 979px; max-height:450px; overflow-y:scroll;" id="autocompleteC"></span></div>\r\n    </div><!-- end subheader container -->\r\n</section><!-- end subheader section -->\r\n\r\n \r\n<script type="text/javascript" src="https://impactspace.com/js/dtjquery.js"></script>\r\n<script type="text/javascript" src="https://impactspace.com/js/jquery.dataTables.js"></script>\r\n<script type="text/javascript" src="https://impactspace.com/js/datatable.js"></script>\r\n\r\n         <div id="wrapper" class="container" style="margin-top: 35px;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" unselectable="on" onselectstart="return false;" onmousedown="return false;" oncopy="return false" oncut="return false" onpaste="return false">\r\n\t<p>Below is a list of all current deals. If you\'d like to add a new deal, please visit the <a href=\'/financialorganizations\'>impact investor\'s</a> profile and edit the funding section, you can also add a deal from the <a href=\'/companies\'>impact company\'s</a> profile.</p>\r\n    <article class="col-lg-9" >\r\n      <h1>Impact Deals (4936)</h1><br/>\r\n\t    <table id="investments">\r\n\t    <thead>\r\n\t\t<th align="left" style="width: 80px;">Company</th>\r\n\t\t<th align="left" style="width: 180px;">Financial Organization</th>\r\n\t\t<th align="left" style="width: 80px;">Date</th>\r\n\t\t<th align="left" style="width: 110px;">Stage</th>\r\n\t\t<th align="left" >Size</th>\r\n<!--Modified by Saranya on 2nd Feb 2018 for Input Deals Form-->\r\n\t\t<th align="left" style="width: 95px;">Vehicle</th>\r\n\t\t<th align="left" style="width: 95px;">Deal Type</th>\r\n\t\t</thead>\r\n\t\t\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/dvara-kgfs">Dvara KGFS</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/leapfrog-investments">LeapFrog Investments</a></td>\r\n\t\t    <td>                    \t<p style=\'display:none\'>201905</p>\r\n\t\t    \t\t\t05/19</td>\r\n\t\t    <td style=\'word-break:break-all;\'>Series C +</td>\r\n\t\t    <td>                                <p style="display:none">99914000000</p>\r\n                                $14M                              \r\n                              </td>\r\n\t\t    <td align="left" >Equity</td>\r\n\t\t    \t\t    <td align="left" >Joint</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/dvara-kgfs">Dvara KGFS</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/dvara-trust">Dvara Trust</a></td>\r\n\t\t    <td>                    \t<p style=\'display:none\'>201905</p>\r\n\t\t    \t\t\t05/19</td>\r\n\t\t    <td style=\'word-break:break-all;\'>Series C +</td>\r\n\t\t    <td>                                <p style="display:none">99914000000</p>\r\n                                $14M                              \r\n                              </td>\r\n\t\t    <td align="left" >Equity</td>\r\n\t\t    \t\t    <td align="left" >Joint</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/dvara-kgfs">Dvara KGFS</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/accion">ACCION</a></td>\r\n\t\t    <td>                    \t<p style=\'display:none\'>201905</p>\r\n\t\t    \t\t\t05/19</td>\r\n\t\t    <td style=\'word-break:break-all;\'>Series C +</td>\r\n\t\t    <td>                                <p style="display:none">99914000000</p>\r\n                                $14M                              \r\n                              </td>\r\n\t\t    <td align="left" >Equity</td>\r\n\t\t    \t\t    <td align="left" >Joint</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/dvara-kgfs">Dvara KGFS</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/stakeboat-capital">Stakeboat Capital</a></td>\r\n\t\t    <td>                    \t<p style=\'display:none\'>201905</p>\r\n\t\t    \t\t\t05/19</td>\r\n\t\t    <td style=\'word-break:break-all;\'>Series C +</td>\r\n\t\t    <td>                                <p style="display:none">99914000000</p>\r\n                                $14M                              \r\n                              </td>\r\n\t\t    <td align="left" >Equity</td>\r\n\t\t    \t\t    <td align="left" >Joint</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/mfine">Mfine</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/sbi-investment">SBI investment</a></td>\r\n\t\t    <td>                    \t<p style=\'display:none\'>201905</p>\r\n\t\t    \t\t\t05/19</td>\r\n\t\t    <td style=\'word-break:break-all;\'>Series B</td>\r\n\t\t    <td>                                <p style="display:none">99917200000</p>\r\n                                $17.2M                              \r\n                              </td>\r\n\t\t    <td align="left" >Equity</td>\r\n\t\t    \t\t    <td align="left" ></td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/credly">Credly</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/zoma-capital">Zoma Capital</a></td>\r\n\t\t    <td>                    \t<p style=\'display:none\'>201904</p>\r\n\t\t    \t\t\t04/19</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>                                <p style="display:none">99911100000</p>\r\n                                $11.1M                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" >Joint</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/credly">Credly</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/strada-education-network">Strada Education Network</a></td>\r\n\t\t    <td>                    \t<p style=\'display:none\'>201904</p>\r\n\t\t    \t\t\t04/19</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>                                <p style="display:none">99911100000</p>\r\n                                $11.1M                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" >Joint</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/credly">Credly</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/new-markets-venture-partners">New Markets Venture Partners</a></td>\r\n\t\t    <td>                    \t<p style=\'display:none\'>201904</p>\r\n\t\t    \t\t\t04/19</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>                                <p style="display:none">99911100000</p>\r\n                                $11.1M                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" >Joint</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/credly">Credly</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/university-ventures">University Ventures</a></td>\r\n\t\t    <td>                    \t<p style=\'display:none\'>201904</p>\r\n\t\t    \t\t\t04/19</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>                                <p style="display:none">99911100000</p>\r\n                                $11.1M                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" >Joint</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/credly">Credly</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/pearson-foundation">Pearson Foundation</a></td>\r\n\t\t    <td>                    \t<p style=\'display:none\'>201904</p>\r\n\t\t    \t\t\t04/19</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>                                <p style="display:none">99911100000</p>\r\n                                $11.1M                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" >Joint</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/credly">Credly</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/lumina-foundation">Lumina Foundation</a></td>\r\n\t\t    <td>                    \t<p style=\'display:none\'>201904</p>\r\n\t\t    \t\t\t04/19</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>                                <p style="display:none">99911100000</p>\r\n                                $11.1M                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" >Joint</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/credly">Credly</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/lion-brothers-company">Lion Brothers Company</a></td>\r\n\t\t    <td>                    \t<p style=\'display:none\'>201904</p>\r\n\t\t    \t\t\t04/19</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>                                <p style="display:none">99911100000</p>\r\n                                $11.1M                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" >Joint</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/blended">Blended</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/seedstars">Seedstars</a></td>\r\n\t\t    <td>                    \t<'

In [75]:
print("Length of this page code(in html): {0} characters".format(len(r.text)))

Length of this page code(in html): 2852006 characters

In [15]:
df_list[0]['Financial Organization'].nunique()

978

## BeautifulSoup
- seems like the parser has some problem with parsing part of the data.

In [66]:
r.text

>Education Development Center</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/the-annie-e-casey-foundation">The Annie E. Casey Foundation</a></td>\r\n\t\t    <td>0000</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>N/A                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" >Joint</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/varthana">Varthana</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/accion-venture-lab">Accion Venture Lab</a></td>\r\n\t\t    <td>0000</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>N/A                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" ></td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/homesolutionnet">HomeSolution.net</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization"></a></td>\r\n\t\t    <td>0000</td>\r\n\t\t    <td style=\'word-break:break-all;\'>Seed</td>\r\n\t\t    <td>                              <p style="display:none">9185000</p>\r\n                              $185K                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" ></td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/vidya">VIDYA</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/atma">Atma</a></td>\r\n\t\t    <td>0000</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>N/A                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" ></td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/banco-popular">Banco Popular</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/bamboo-finance">Bamboo Finance</a></td>\r\n\t\t    <td>0000</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>N/A                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" ></td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/recycleforce">Recycleforce</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/rsf-social-finance">RSF Social Finance</a></td>\r\n\t\t    <td>0000</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>N/A                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" >Joint</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/shotspotter">ShotSpotter</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/city-light-capital">City Light Capital</a></td>\r\n\t\t    <td>0000</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>N/A                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" ></td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/go-finance">GO Finance</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/accion-venture-lab">Accion Venture Lab</a></td>\r\n\t\t    <td>0000</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>N/A                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" ></td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/mann-deshi">Mann Deshi</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/dasra-social-impact">Dasra Social Impact</a></td>\r\n\t\t    <td>0000</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>N/A                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" ></td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/indian-ocean-trepang">Indian Ocean Trepang</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/acumen-fund">Acumen Fund</a></td>\r\n\t\t    <td>0000</td>\r\n\t\t    <td style=\'word-break:break-all;\'>Seed</td>\r\n\t\t    <td>\t\t\t\t\t\t\t\t  \t        <p style="display:none">123</p>\r\n                                    $123                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" ></td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/the-bread-project">The Bread Project</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/rsf-social-finance">RSF Social Finance</a></td>\r\n\t\t    <td>0000</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>N/A                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" ></td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/education-development-center">Education Development Center</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/boston-foundation">Boston Foundation</a></td>\r\n\t\t    <td>0000</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>N/A                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" >Joint</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/streetshares">StreetShares</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/accion-venture-lab">Accion Venture Lab</a></td>\r\n\t\t    <td>0000</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>N/A                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" ></td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company"></a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/a-spark-good-ventures">A-Spark Good Ventures</a></td>\r\n\t\t    <td>0000</td>\r\n\t\t    <td style=\'word-break:break-all;\'>Seed</td>\r\n\t\t    <td>                                <p style="display:none">99946756756</p>\r\n                                $46.75M                              \r\n                              </td>\r\n\t\t    <td align="left" >Cash & Convertible Note</td>\r\n\t\t    \t\t    <td align="left" ></td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/crofarm-agriproducts-pvt-ltd">Crofarm Agriproducts Pvt Ltd</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/factore-ventures-pbc">Factor(E) Ventures PBC</a></td>\r\n\t\t    <td>0000</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>N/A                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" ></td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/booknook">BookNook</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/reach-capital">Reach Capital</a></td>\r\n\t\t    <td>0000</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>N/A                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" ></td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/magic-bus">Magic Bus</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/dasra-social-impact">Dasra Social Impact</a></td>\r\n\t\t    <td>0000</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>N/A                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" ></td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/eco-fuels-kenya">Eco Fuels Kenya</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/adap-capital-llc">ADAP Capital LLC</a></td>\r\n\t\t    <td>0000</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>N/A                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" ></td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/ruma">Ruma</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/patamar-capital">Patamar Capital</a></td>\r\n\t\t    <td>0000</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>N/A                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" >Joint</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/demyst-data">Demyst Data</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/accion-venture-lab">Accion Venture Lab</a></td>\r\n\t\t    <td>0000</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>N/A                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" >Joint</td>\r\n\t\t</tr>\r\n\t\t<tr>\r\n                  <td>\r\n                    \t\t    <a href="/company/classdojo">ClassDojo</a></td>\r\n\r\n\t\t    <td>\r\n                                 \r\n                       <a href="/financial-organization/reach-capital">Reach Capital</a></td>\r\n\t\t    <td>0000</td>\r\n\t\t    <td style=\'word-break:break-all;\'></td>\r\n\t\t    <td>N/A                              \r\n                              </td>\r\n\t\t    <td align="left" ></td>\r\n\t\t    \t\t    <td align="left" ></td>\r\n\t\t</tr>\r\n\t    </table>\r\n      </article>\r\n    <article class="col-lg-3"> \r\n      <div id="subsection">\r\n\r\n       <!-- <h1><a href="/investment/add">Add Investment</a></h1>-->\r\n        <h1>Recently Added</h1>\r\n        <ul>\r\n          <li><a href="/company"></a></li><li><a href="/company/gram-vaani">Gram Vaani</a></li><li><a href="/company/kumbaya-inc">Kumbaya, Inc.</a></li><li><a href="/company"></a></li><li><a href="/company/kipp">KIPP</a></li>        </ul>\r\n        <h1>Recently Edited</h1>\r\n        <ul>\r\n          <li><a href="/company/sts-hospital">STS Hospital</a></li><li><a href="/company/sts-hospital">STS Hospital</a></li><li><a href="/company/sts-hospital">STS Hospital</a></li><li><a href="/company/sts-hospital">STS Hospital</a></li><li><a href="/company/sts-hospital">STS Hospital</a></li>        </ul>\r\n      </div>\r\n        \r\n\r\n    </article>\r\n  </div>\r\n\t\t\t\t\r\n\t\t\t</div>\r\n\t <!--main content part ends-->\r\n\t\r\n\t<div style="clear:both;"></div>\r\n\t\t\t\r\n\r\n\t\r\n<!-- start call to action -->\r\n<!--<section class="callToAction" style="padding-top:70px;">\r\n    <div class="container">\r\n        <div class="ctaBox">\r\n            <div class="col-lg-9">\r\n                <h1>Join ImpactSpace today!</h1>\r\n                <p>Lorem ipsum dolor amet, consectetur adipiscing elit. Quisque eget ante vel nunc lorem ipsum rhoncus.</p>\r\n            </div>\r\n            <div class="col-lg-3">\r\n                <a style="float:right; margin-top:15px;" class="buttonColor" href="#">JOIN</a>\r\n            </div>\r\n            <div style="clear:both;"></div>\r\n        </div>\r\n    </div>\r\n</section>-->\r\n<!-- end call to action -->\r\n\t\t<footer id="footer">\r\n    <div class="container">\r\n        <div class="row">\r\n            <div class="col-lg-6 col-md-6 col-sm-6">\r\n   <h4><a class="footerLogo" href="https://impactspace.com/"><img src="/images/is-logo-2015.png" alt="ImpactSpace" class="img-responsive" width="300" /></a></h4>\r\n                <p>ImpactSpace is the open data platform powering the global impact marketplace. Together with our sister site, <a href="http://impactalpha.com" target="_blank">ImpactAlpha</a>, we are providing stories and data to investors, entrepreneurs and other market participants driving business advantage with social and environmental impact.</p>\r\n\t\t\t<h4>ImpactSpace is an ImpactAlpha Company<br/><br/><a class="footerLogo" href="http://impactalpha.com"><img src="/images/ia-logo-footer.png" alt="impact-alpha-logo-sm" class="img-responsive" width="250"></a></h4>\r\n\t\t\t<!--span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=fmwXxKicb5a0qCqjOLBdcQxvF1wTrYdDv9ESCTGf4eqV6B88QAWzziFDqt9x"></script></span-->\r\n            </div>\r\n\t\t\t\r\n           <!-- <div class="col-lg-3 col-md-3 col-sm-6">\r\n                <h4></h4>\r\n                <ul class="contactList">\r\n                    <li></li>\r\n                    <li></li>\r\n                    <li></li>\r\n                </ul>\r\n            </div>-->\r\n            <div class="col-lg-3 col-md-3 col-sm-6">\r\n                <h4>TWITTER</h4>\r\n                <ul>\r\n                    <li><a href="https://twitter.com/ImpactAlpha"> @ImpactAlpha</a> How impact investors can challenge three fallacies of legacy finance\n\nMany of the solutions to inequality lie at th… <a href="https://t.co/mqjHDguew7" class="link-tweet" target="_blank">https://t.co/mqjHDguew7</a><br/><span>19 Feb</span></li><li><a href="https://twitter.com/LauraomDg"> @Laura O M</a> Guess who controls climate? Ecosystems!!! Guess what\'s the hypersimplified solution for climate change? Yes! INTERD… <a href="https://t.co/uei6svlGXJ" class="link-tweet" target="_blank">https://t.co/uei6svlGXJ</a><br/><span>19 Feb</span></li>                </ul>\r\n            </div>\r\n            <div class="col-lg-3 col-md-3 col-sm-6">\r\n                <h4>SIGN UP FOR ALERTS</h4>\r\n                <p>Keep in Touch Signup to receive periodic updates from ImpactSpace and ImpactAlpha: Investment News for a Sustainable Edge</p>\r\n                <form class="subscribeForm" method="post" action="">\r\n                    <input type="email" id="email" name="email" placeholder="Your email" value="" class="input footer"  required />\r\n                    <input type="submit" name="submit" id="signup_alert" value="SIGN UP"  class="buttonColor" />\r\n\t\t\t\t\t<br><br>\r\n\t\t\t\t\t<div id="al_message" style="color:#346F03; "></div>\r\n                </form>\r\n            </div>\r\n        </div><!-- end row -->\r\n        \r\n       <!--<div class="row partners">\r\n           <div class="col-lg-12 col-md-12 col-sm-12 ctaBox" >\r\n            <h4>PARTNERS</h4>\r\n\t\t\t\t<ul class="list-inline">\r\n\t\t\t\t\t\t<li><a href="http://www.liquidnet.com"><img src="/images/liquid-logo.png" alt="liquid-logo" width="193" height="40" ></a></li>\r\n\t\t\t\t\t\t<li><a href="http://www.imprintcap.com/"><img src="/images/ImprintCap_Logo.gif" alt="ImprintCap_Logo" width="180" height="26"></a></li>\r\n\t\t\t\t\t\t<li><a href="http://www.socialcapitalmarkets.net/"><img src="/images/socialcap-logo.gif" alt="socialcap-logo" width="218" height="42"></a></li>\r\n\t\t\t\t\t\t<li><a href="http://www.eq-cap.com/"><img src="/images/equilibrium-logo.gif" alt="equilibrium-logo" width="135" height="76"></a></li>\r\n\t\t\t\t\t\t<li><a href="http://www.sanghata.org/"><img src="/images/si-logo-cut.png" alt="si-logo" width="100" height="100"></a></li>\r\n\t\t\t\t\t\t<li><a href=""><img src="/images/FMS_transparent.png" alt="FMS_transparent" width="100"></a></li>\r\n           \r\n\t\t\t\t</ul>\r\n           </div>\r\n       </div>-->\r\n    </div><!-- end footer container -->\r\n</footer>\r\n\r\n<div class="bottomBar">\r\n    <div class="container">\r\n        <p>COPYRIGHT 2021 IMPACTSPACE. ALL RIGHTS RESERVED.</p>\t\t        \t\t\r\n\t\t<ul class="socialIcons">\r\n\t\t\t<li><a href="/privacy-policy">Privacy Statement</a></li>\r\n            <li><a href="/disclaimer">Disclaimer</a></li>\r\n\t\t\t<li><a href="/ivn">ImpactSpace Venture Network</a></li>\r\n\t\t\t<li><a href="/ifp">ImpactSpace Fellowship Program</a></li>\r\n            <li><a href="/terms-of-service">Terms of Service</a></li>\r\n            <li><a href="/api/docs" target="_blank">API</a></li>\r\n            <li><a href="https://www.facebook.com/Impactspace" target="_blank"><img src="/images/icon-fb.png" alt="" /></a></li>\r\n            <li><a href="https://twitter.com/impactspace" target="_blank"><img src="/images/icon-twitter.png" alt="" /></a></li>\r\n            <!--<li><a href="#"><img src="/images/icon-google.png" alt="" /></a></li>\r\n            <li><a href="#"><img src="/images/icon-rss.png" alt="" /></a></li>-->\r\n        </ul>\r\n    </div>\r\n</div>\t\r\n</div>\t\t\r\n\r\n <script type="text/javascript" src="https://masonry.desandro.com/masonry.pkgd.min.js"></script>     \r\n    <script type="text/javascript">\r\n      var container = document.querySelector(\'#ms-container\');\r\n      var msnry = new Masonry( container, {\r\n        itemSelector: \'.ms-item\',\r\n        columnWidth: \'.ms-item\',                \r\n      });      \r\n    </script>\r\n\t\r\n\t\r\n<!-- JavaScript file links -->\r\n<!--Commented by Varada to enable add functionality in all add/edit pages on 17-06-2015-->\r\n<!--<script src="/js/newhome/jquery.js"></script>\t\t\t-->\r\n\r\n<!--<script src="/js/newhome/bootstrap.min.js"></script>-->  <!-- bootstrap 3.0 -->\r\n<script src="/js/newhome/respond.min.js"></script>\r\n<!--<script src="/js/newhome/jquery.bxslider.min.js"></script>-->           <!-- bxslider -->\r\n<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqb3fT3SbMSDMggMEK7fJOIkvamccLrjA&sensor=false"></script>-->\r\n<script type="text/javascript" src="/js/newhome/map-one-pin.min.js"></script> <!-- map script -->\r\n<!--<script>\r\n    $(\'.bxslider2\').bxSlider({\r\n      pagerCustom: \'#bx-pager\',\r\n      nextSelector: \'.slider-next\',\r\n      prevSelector: \'.slider-prev\',\r\n      nextText: \'<img src="images/slider-next2.png" alt="Next" />\',\r\n      prevText: \'<img src="images/slider-prev2.png" alt="Previous" />\'\r\n    });\r\n</script>-->\r\n\t\r\n\t</body>\r\n</html>\r\n'

In [67]:
# get all the web elements
all_web_element=BeautifulSoup(markup=r.text
                            , features='html.parser'
                            )

In [72]:
all_web_element

KeyError: 0

In [50]:
x=all_web_element.find(name='table'
                        , class_='dataTable'
                        )
x

In [52]:
x=all_web_element.find(name='tbody'
                        # , class_='dataTable'
                        )
x

In [55]:
all_web_element.findall(name='tbody')

TypeError: 'NoneType' object is not callable

In [58]:
type(all_web_element)

bs4.BeautifulSoup

In [ ]:
x.find()

## Manual Extract with html_table_extractor.extractor import Extractor
- https://stackoverflow.com/questions/51349215/pandas-read-html-clean-up-before-or-after-read

In [104]:
beg=r.text.rfind('<table') # beginning
end=r.text.rfind('/table>') # ending

In [107]:
beg

11220

In [133]:
# Clean column name
[i.lower().replace(' ','_') for i in df_list[0].columns]

['company',
 'financial_organization',
 'date',
 'stage',
 'size',
 'vehicle',
 'deal_type']

In [134]:
# Manual parse
ex=Extractor(r.text[beg:end])
ex.parse()
line_list=ex.return_list()

df=pd.DataFrame(line_list,columns=[i.lower().replace(' ','_') for i in df_list[0].columns])
df

,company,financial_organization,date,stage,size,vehicle,deal_type
0,\nDvara KGFS,\nLeapFrog Investments,201905\r\n\t\t \t\t\t05/19,Series C +,99914000000\r\n ...,Equity,Joint
1,\nDvara KGFS,\nDvara Trust,201905\r\n\t\t \t\t\t05/19,Series C +,99914000000\r\n ...,Equity,Joint
2,\nDvara KGFS,\nACCION,201905\r\n\t\t \t\t\t05/19,Series C +,99914000000\r\n ...,Equity,Joint
3,\nDvara KGFS,\nStakeboat Capital,201905\r\n\t\t \t\t\t05/19,Series C +,99914000000\r\n ...,Equity,Joint
4,\nMfine,\nSBI investment,201905\r\n\t\t \t\t\t05/19,Series B,99917200000\r\n ...,Equity,
...,...,...,...,...,...,...,...
4931,\nMagic Bus,\nDasra Social Impact,0000,,N/A \r\n ...,,
4932,\nEco Fuels Kenya,\nADAP Capital LLC,0000,,N/A \r\n ...,,
4933,\nRuma,\nPatamar Capital,0000,,N/A \r\n ...,,Joint
4934,\nDemyst Data,\nAccion Venture Lab,0000,,N/A \r\n ...,,Joint
4935,\nClassDojo,\nReach Capital,0000,,N/A \r\n ...,,

In [148]:
df['date'].apply(lambda x: x[:7]).unique()

array([' 201905', ' 201904', ' 201903', ' 201902', ' 201901', '2019',
       ' 201810', ' 201809', ' 201808', ' 201807', ' 201806', ' 201805',
       ' 201804', ' 201803', ' 201802', ' 201801', '2018', ' 201709',
       ' 201708', ' 201707', ' 201706', ' 201705', ' 201704', ' 201703',
       ' 201702', ' 201701', '2017', ' 201612', ' 201611', ' 201610',
       ' 201609', ' 201608', ' 201607', ' 201606', ' 201605', ' 201604',
       ' 201603', ' 201602', ' 201601', '2016', ' 201512', ' 201511',
       ' 201510', ' 201509', ' 201508', ' 201507', ' 201506', ' 201505',
       ' 201504', ' 201503', ' 201502', ' 201501', '2015', ' 201412',
       ' 201411', ' 201410', ' 201409', ' 201408', ' 201407', ' 201406',
       ' 201405', ' 201404', ' 201403', ' 201402', ' 201401', '2014',
       ' 201312', ' 201311', ' 201310', ' 201309', ' 201308', ' 201307',
       ' 201306', ' 201305', ' 201304', ' 201303', ' 201302', ' 201301',
       '2013', ' 201212', ' 201211', ' 201210', ' 201209', ' 201208',
       ' 201207', ' 201206', ' 201205', ' 201204', ' 201203', ' 201202',
       ' 201201', '2012', ' 201112', ' 201111', ' 201110', ' 201109',
       ' 201108', ' 201107', ' 201106', ' 201105', ' 201104', ' 201103',
       ' 201102', ' 201101', '2011', ' 201012', ' 201011', ' 201010',
       ' 201009', ' 201007', ' 201006', ' 201004', ' 201003', ' 201002',
       ' 201001', '2010', ' 200912', ' 200911', ' 200910', ' 200909',
       ' 200906', ' 200904', ' 200903', ' 200902', ' 200901', '2009',
       ' 200812', ' 200811', ' 200810', ' 200808', ' 200806', ' 200804',
       ' 200803', ' 200802', ' 200801', '2008', ' 200712', ' 200711',
       ' 200710', ' 200709', ' 200708', ' 200707', ' 200706', ' 200705',
       ' 200704', ' 200703', ' 200701', '2007', ' 200611', ' 200610',
       ' 200609', ' 200608', ' 200606', ' 200605', ' 200603', ' 200602',
       ' 200601', '2006', ' 200509', ' 200508', ' 200507', ' 200506',
       ' 200502', ' 200501', '2005', ' 200408', ' 200401', '2004',
       ' 200305', ' 200301', '2003', ' 200201', ' 199907', ' 199601',
       ' 199301', ' 199201', '1982', ' 190507', ' 190506', '0000'],
      dtype=object)

In [325]:
# Clean df
def since3(text):
    return text[1:]

def clean(text):
    if(len(text)==0):
        return np.NaN
    else:
        if(text[0][-1]=='M'):
            location_currency1=text[0].find('$')
            location_currency2=text[0].find('€')
            location_currency3=text[0].find('£')
            location_currency=max(location_currency1, location_currency2,location_currency3)
            return (text[0][location_currency],float(text[0][location_currency+1:-1])*10**6) # (currency, value)
        elif(text[0][-1]=='K'):
            location_currency1=text[0].find('$')
            location_currency2=text[0].find('€')
            location_currency3=text[0].find('£')
            location_currency=max(location_currency1, location_currency2,location_currency3)
            return (text[0][location_currency],float(text[0][location_currency+1:-1])*10**3) # (currency, value)

def clean_date(string_date, method):
    # QA
    methods=['year','month']
    if(method not in methods):
        raise Exception(f'{method} is not specified, please input {methods}.')

    # Clean Missing data with NULL
    if(int(string_date)<1):
        return np.NaN

    if(method=='year'):
        return string_date[:4]
    else:
        return string_date[4:]

df_clean=pd.DataFrame()
# df['company'].apply(lambda x: since3(x)) # test clean
df_clean[['company','financial_organization']]=df[['company','financial_organization']].applymap(lambda x: since3(x))
df_clean['raw_date']=df['date'].apply(lambda x: x[1:7])
df_clean['year']=df_clean['raw_date'].apply(lambda x: clean_date(x,'year'))
df_clean['month_id']=df_clean['raw_date'].apply(lambda x: clean_date(x,'month'))
df_clean['stage']=df['stage'].apply(lambda x: 'Unspecified' if(len(x)==0) else x)
df_clean['fund_size_tuple']=df['size'].apply(lambda x: x[20:80].split()).apply(lambda x: clean(x))
df_clean[['currency_sign','fund_amount']]=pd.DataFrame(df_clean.fund_size_tuple.tolist())
df_clean['financial_organization']=df_clean.apply(lambda x: 'Missing org name' if(x.fund_amount>0 and len(x.financial_organization)==0) else x.financial_organization,axis=1)

In [297]:
df.loc[1000:1002,'size'].apply(lambda x: x[20:80].split()[0].find('$'))

1000    0
1001    0
1002    1
Name: size, dtype: int64

In [305]:
df_clean

,company,financial_organization,raw_date,year,month_id,stage,fund_size_tuple,currency_sign,fund_amount
0,Dvara KGFS,LeapFrog Investments,201905,2019,05,Series C +,"($, 14000000.0)",$,14000000.0
1,Dvara KGFS,Dvara Trust,201905,2019,05,Series C +,"($, 14000000.0)",$,14000000.0
2,Dvara KGFS,ACCION,201905,2019,05,Series C +,"($, 14000000.0)",$,14000000.0
3,Dvara KGFS,Stakeboat Capital,201905,2019,05,Series C +,"($, 14000000.0)",$,14000000.0
4,Mfine,SBI investment,201905,2019,05,Series B,"($, 17200000.0)",$,17200000.0
...,...,...,...,...,...,...,...,...,...
4931,Magic Bus,Dasra Social Impact,000,NaN,NaN,Unspecified,NaN,NaN,NaN
4932,Eco Fuels Kenya,ADAP Capital LLC,000,NaN,NaN,Unspecified,NaN,NaN,NaN
4933,Ruma,Patamar Capital,000,NaN,NaN,Unspecified,NaN,NaN,NaN
4934,Demyst Data,Accion Venture Lab,000,NaN,NaN,Unspecified,NaN,NaN,NaN
4935,ClassDojo,Reach Capital,000,NaN,NaN,Unspecified,NaN,NaN,NaN

In [ ]:
df

In [326]:
df_final=df_clean[['company','financial_organization','year','month_id','stage','currency_sign','fund_amount']]
df_final

,company,financial_organization,year,month_id,stage,currency_sign,fund_amount
0,Dvara KGFS,LeapFrog Investments,2019,05,Series C +,$,14000000.0
1,Dvara KGFS,Dvara Trust,2019,05,Series C +,$,14000000.0
2,Dvara KGFS,ACCION,2019,05,Series C +,$,14000000.0
3,Dvara KGFS,Stakeboat Capital,2019,05,Series C +,$,14000000.0
4,Mfine,SBI investment,2019,05,Series B,$,17200000.0
...,...,...,...,...,...,...,...
4931,Magic Bus,Dasra Social Impact,NaN,NaN,Unspecified,NaN,NaN
4932,Eco Fuels Kenya,ADAP Capital LLC,NaN,NaN,Unspecified,NaN,NaN
4933,Ruma,Patamar Capital,NaN,NaN,Unspecified,NaN,NaN
4934,Demyst Data,Accion Venture Lab,NaN,NaN,Unspecified,NaN,NaN
4935,ClassDojo,Reach Capital,NaN,NaN,Unspecified,NaN,NaN

## Analysis

In [308]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4936 entries, 0 to 4935
Data columns (total 7 columns):
company                   4936 non-null object
financial_organization    4936 non-null object
year                      3307 non-null object
month_id                  3307 non-null object
stage                     4936 non-null object
currency_sign             2019 non-null object
fund_amount               2019 non-null float64
dtypes: float64(1), object(6)
memory usage: 270.1+ KB

In [313]:
df_final.currency_sign.value_counts()

$    2004
£      13
€       2
Name: currency_sign, dtype: int64

In [312]:
df_final.stage.value_counts()

Unspecified    3113
Seed           1110
Series A        309
Series B        226
Series C +      177
Series C          1
Name: stage, dtype: int64

In [328]:
print("TOP 10 financial organization that give fund")
df_final.groupby('financial_organization').fund_amount.sum().reset_index().sort_values('fund_amount',ascending=False).head(10)

TOP 10 financial organization that give fund

                      financial_organization   fund_amount
572                         Missing org name  2.989169e+09
645  Overseas Private Investment Corporation  2.092811e+09
122        Bill and Melinda Gates Foundation  8.303300e+08
633                         Obvious Ventures  3.952000e+08
64                       Andreessen Horowitz  3.740900e+08
890                                      UBS  3.250000e+08
208          Community Investment Management  3.100000e+08
498                          Kleiner Perkins  3.072100e+08
815                     Tao Capital Partners  2.942100e+08
636                          Omidyar Network  2.838250e+08

In [344]:
(
    df_final
    .groupby(['stage'])
    .agg({'fund_amount':sum, 'company':['count','nunique']})
    .reset_index()
    .sort_values(('fund_amount','sum'),ascending=False)
)

         stage   fund_amount company
                         sum   count nunique
5  Unspecified  1.119602e+10    3113    1853
4   Series C +  6.168943e+09     177      50
2     Series B  4.213893e+09     226      86
1     Series A  2.683902e+09     309     139
0         Seed  6.540787e+08    1110     712
3     Series C  0.000000e+00       1       1

In [331]:
df_final[df_final.financial_organization=='']

,company,financial_organization,year,month_id,stage,currency_sign,fund_amount
561,Bright Reality,,2017,07,Unspecified,NaN,NaN
587,Solve Smart Cities,,2017,07,Seed,NaN,NaN
811,,,2016,10,Unspecified,NaN,NaN
824,SpringU,,2016,08,Seed,NaN,NaN
827,Workit Health,,2016,08,Seed,NaN,NaN
...,...,...,...,...,...,...,...
4630,BlocPower,,NaN,NaN,Unspecified,NaN,NaN
4819,BushProof,,NaN,NaN,Unspecified,NaN,NaN
4894,SustainTech India,,NaN,NaN,Unspecified,NaN,NaN
4908,,,NaN,NaN,Unspecified,None,NaN
4912,Equal Access,,NaN,NaN,Unspecified,NaN,NaN